body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(131, 205, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation sytle */
.navbar {
  background-color: black;
}

.nav-link,
.navbar-brand {
  color: white;
}
/* End of Navigation style */

/* Home style */
.home-content-card,
.top-three-card {
  width: 80%;
  margin: 2% auto;
  
}

.top-three-body {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

/* End of Home style */

/* Login/Signup Style */
.login-h1 {
  text-align: center;
  margin-top: 3%;
}

.login-signup {
  width: 80%;
  margin: 3% auto;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}

.login-signup-btn-container {
  display: flex;
  justify-content: space-evenly;
}
/* End of Login/Signup style */


/* Top 30 style */
.top30-cards {
  margin: 5px;
}
.top30-cards-content {
  width: 400px;
  text-align: center;
  padding: 20px;
}
/* End of Top 30 style */